version: "2"
containers:
- name: shell
  image: gcr.io/instruqt-shadow/gcf:1.0.0
  shell: /bin/bash
  memory: 128
  environment:
    INSTRUQT_LANGUAGE_CODE: {{languagecode}}
gcp_projects:
- name: cloud-functions
  services:
  - cloudfunctions.googleapis.com
  - storage-component.googleapis.com
  - storage-api.googleapis.com
